
.dailyreportWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem 2rem;
    margin: 0 auto;
    overflow: hidden;
}

.ball2,
.ball3,
.ball4 {
    position: absolute;
    top: -10%;
    left: 50%;
    z-index: -1;
    background-image: url('../../images/pexels-felipe-helfstein-14705286.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 51%;
    border-radius: 50%;
    width: 340px;
    aspect-ratio: 1/1;
    box-shadow: 20px 8px 5px 20px rgba(13, 13, 13, 0.527);
    filter: brightness(0.8);
}

.ball2 {
    transform: rotate(-30deg);

}

.ball3 {
    top: 40%;
    left: -5%;
    background-position: 80%;
    width: 250px;
    transform: rotate(40deg);
}

.ball4 {
    top: 60%;
    left: 35%;
    background-position: 80%;
    width: 150px;
    z-index: -2;
        box-shadow: 20px 8px 5px 10px rgba(13, 13, 13, 0.527);
        filter: brightness(0.7);
}


.dailyreportbody h1 {
   padding: 2rem 2rem 0 2rem;
    font-size: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    color: rgba(255, 244, 233, 0.85);
    margin-top: 0;
}

#form-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1.6em;
    color:  #ea9350;
    border: 1px solid #eee;
    background: linear-gradient(to right, rgba(226, 226, 226, 0), rgba(226, 226, 226, 0.3), rgba(226, 226, 226, 0));
    border-radius: 6px;
    margin-bottom: 5rem;
}

#form-report label {
    font-size: 1.2rem;
}

#form-report span {
    font-weight: bold; 
}

form div {
    width: 100%;
    margin: 0 auto;
}

input[type="range"] {
    width: 98%;
    margin-top: 1rem;
}

input[type='range'] {
	-webkit-appearance: none;
	height: 5px;
	background: grey;
	border-radius: 4px;
    background: linear-gradient(278deg, rgba(250,255,103,0.8) 8%, rgba(251,211,57,0.8) 26%, rgba(222,157,16,0.8) 59%, rgba(49,190,44,0.8) 98%);
    cursor: pointer;
}

input[type='range']#greasyFoodRange,
#dairyRange, #alcoholRange, #sugarRange {
    background: linear-gradient(278deg, rgba(250,255,103,0.8) 8%, rgba(251,211,57,0.8) 26%, rgba(222, 16, 219, 0.8) 59%, rgba(105, 33, 123, 0.8) 98%);
}

input[type='range']#acneRange {
    background: linear-gradient(278deg, rgba(237, 237, 226, 0.8) 8%, rgba(186, 183, 172, 0.8) 26%, rgba(62, 61, 59, 0.8) 59%, rgba(25, 23, 25, 0.8) 98%);
}


input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 50%;
    border:none;
    width: 17px;
    aspect-ratio: 1/1;
    background: radial-gradient(circle at 15% 35%, rgba(255, 220, 203, 1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
	cursor: grab;
	box-shadow: 0 0 2px 0 #000000;
    transition: transform 0.2s ease-in-out;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	border-radius: 50%;
    border:none;
    width: 15px;
    aspect-ratio: 1/1;
    background: radial-gradient(circle at 15% 35%, rgba(255, 220, 203, 1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
	cursor: grab;
	box-shadow: 0 0 2px 0 #000000;
    transition: transform 0.2s ease-in-out;
}

input[type='range']::-ms-thumb {
	-webkit-appearance: none;
	border-radius: 50%;
    border:none;
    width: 15px;
    aspect-ratio: 1/1;
    background: radial-gradient(circle at 15% 35%, rgba(255, 220, 203, 1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
	cursor: grab;
	box-shadow: 0 0 2px 0 #000000;
    transition: transform 0.2s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:active {
    background: radial-gradient(circle at 15% 35%, rgba(255, 220, 203, 1) 0%, rgb(248, 157, 115) 13%, rgb(141, 225, 138) 95%);
  transform: scale(2);
  box-shadow: 0 0 4px 4px #d1c3c3e4;
}

input[type='range']::-moz-range-thumb:active {
    background: radial-gradient(circle at 15% 35%, rgba(255, 220, 203, 1) 0%, rgb(248, 157, 115) 13%, rgb(141, 225, 138) 95%);
    transform: scale(2);
    box-shadow: 0 0 4px 4px #d1c3c3e4;
  }

  input[type='range']::-ms-thumb:active {
    background: radial-gradient(circle at 15% 35%, rgba(255, 220, 203, 1) 0%, rgb(248, 157, 115) 13%, rgb(141, 225, 138) 95%);
    transform: scale(2);
    box-shadow: 0 0 4px 4px #d1c3c3e4;
  }


@media screen and (min-width: 768px) {
    #form-report {
        width: 80%;
    }
    }

@media screen and (min-width: 1024px) {
    .dailyreportWrapper {
        width: 80%;
    }
}