.daily-bars-wrapper {
    height: fit-content;
    background-color: #051306; 
}

h1 {
    font-size: 32px;
    color: rgba(255, 244, 233, 0.85);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5%; 
    font-style: italic;
    margin: 0;
}

.diagram-separator {
    width: 100%;
    margin-bottom: 3rem;
    height: 2px;
    background-image: linear-gradient(to right, rgba(226, 226, 226, 0), rgba(226, 226, 226, 1), rgba(226, 226, 226, 0));
  }

.daily-bars-wrapper h2,
.weekly-bars-wrapper h2 {
     font-size: 22px;
     font-family: 'Poppins', sans-serif;
     text-align: center;
     color: #051306;
     color: rgba(255, 244, 233, 0.85);
     margin-top: 10px;
     padding: 0;
}

.daily-bars-container,
.weekly-bars-container {
    /*border: 3px solid white; */
    height:fit-content;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
} 

.diagram-wrapper {
   border: rgba(255, 255, 255, 0.85) 1px solid;
    border-radius: 6px;
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 40px 10px;
    margin: 5%;
    background: linear-gradient(to right, rgba(226, 226, 226, 0), rgba(226, 226, 226, 0.4), rgba(226, 226, 226, 0));
    box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
}
.diet-bars,
.habits-bars {
    width: 100%;
    gap: 1rem;
    background-color: rgba(5,19,6,0.95);
    padding: 5px;
    border-radius: 6px;
    height: 350px;
    border: rgba(255, 255, 255, 0.65) 1px solid;
    box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
}

.svgs {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }


@media (min-width: 500px) {
    .diagram-wrapper {
        width: 70%;
        padding: 0 25px 40px 25px;
        margin: 0 2% 5% 2%;
        gap: 1rem;
    }
  }

  @media (min-width: 751px) {
    .diagram-wrapper {
        width:45%;
        padding: 0 25px 40px 25px;
        margin: 0 10px 5% 10px;
        gap: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .diagram-wrapper {
        width:46%;
        padding: 0 10px 40px 10px;
        margin: 0 0 5% 0;
        gap: 1rem;
    }
  }
  
