


.dailyreportbody h1 {
   padding-top: 20%;
   padding-bottom: 10%;
    font-size: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFF4E9;
    margin-top: 0;
}

.dailyreportbody {
    background-color: #2A152A;
    padding: 5% 3% 0 5%;
}


#form-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 1em;
    color:#FFF4E9 ;
}

form div {
    width: 100%;
}

.label-report {
    display: block;
    margin-bottom: .7em;
    font-size: 16px;
    color:#FFF4E9 ;
   
}

input[type="range"] {
    width: 95%;
  
}

input[type="checkbox"] {
    margin-left: .5em;
}

select {
    width: 100%;
    padding: .5em;
}

.RegisterButton {
    font-size: 16px;
    padding: 10px;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #DB5A4F;
    color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 43px;
    cursor: pointer;
    text-align: center;
    width: 50%;
    font-family: 'Lalezar', cursive;
    letter-spacing: 1px;
    font-weight: 400;
}
input[type='range'] {
	-webkit-appearance: none;
	height: 5px;
	background: grey;
	border-radius: 4px;
	background-image: linear-gradient(to right, #bc748d, #9b82c6);
	background-repeat: no-repeat;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #FFF8F0;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}




@media (min-width: 768px) {
    .dailyreportbody {
      min-width:375px; 
      min-height: 100vh;
    }
  }