.menu-icon {
  background-color: #ea9350;
  color: #FFF5E9;
  border: none;
  padding: 0;
  position: fixed;
  border-radius: 0.6rem;
  z-index: 100;
  margin: 5px 0 0 15px;
  box-shadow:2px 3px 6px rgba(0, 0, 0, 0.37);
}

.menu-icon .hamburger-react div {
  border-radius: 50px;
  position: fixed;
}

.menu-icon .hamburger-react div span {
  box-shadow: none;
  position: fixed;
}

.menu-items {
  position: fixed;
  height: min-content;
  background-color: #ea9350;
  z-index: 10;
  padding: 0.8rem 1.2rem 1rem 75px;
  border-bottom-right-radius: 2rem;
}

.menu-items.open {
  display: block;
}

ul {
  margin-top: 0;
}


li {
  list-style: none;
 font-style: italic;
  font-size: 1rem;
  margin-bottom: 12px;
}

li:last-of-type {
  margin-bottom: 0;
}

.link-styling {
  color: #FFF5E9;
}

.link-styling:hover {
  display: block;
  background-color: rgba(228, 218, 217, 0.641);
}


nav {
  background-color: #ea9350;
  padding-bottom: 20px;
  display: flex;
  height: 60px;
  transition: all 3s ease;
}

@media screen and (min-width: 1024px) {
  .menu-icon {
    margin: 5px 0 0 25px;
}
.menu-items {
  border-top-left-radius: 2rem;
    padding: 0.8rem 1.2rem 1rem 90px;
    border-bottom-right-radius: 2rem;
}
}