.menu-icon {
  background-color: #ea9350;
  color: #FFF5E9;
  border: none;
  padding: 0;
  position: fixed;
  border-radius: 0.6rem;
  z-index: 100;
  margin: 5px 0 0 20px;
  box-shadow:2px 3px 6px rgba(0, 0, 0, 0.37);
}

.menu-icon:hover,
.menu-icon:focus {  
  background: radial-gradient(circle at 15% 35%, rgba(255,220,203,1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
  transform: scale(1.2);
}

.menu-icon .hamburger-react div {
  border-radius: 50px;
  position: fixed;
}

.menu-icon .hamburger-react div span {
  box-shadow: none;
  position: fixed;
}

.menu-items {
  position: fixed;
  height: min-content;
  background-color: #ea9350;
  z-index: 10;
  padding: 0.8rem 1.2rem 1rem 75px;
  border-bottom-right-radius: 2rem;
  box-shadow:2px 3px 6px rgba(0, 0, 0, 0.37);
}

.menu-items.open {
  display: block;
}

ul {
  margin-top: 0;
  display: block;
}


li {
  list-style: none;
font-weight: 600;
  font-size: 1.2rem;
  padding: 8px;
  border-bottom: 1px solid #FFF5E9;
}


.link-styling {
  color: #FFF5E9;
  padding: 10px;
  display: block;
}

.link-styling:hover {
  background: radial-gradient(circle at 15% 35%, rgba(255,220,203,1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
  border-radius: 5px;
}


nav {
  background-color: #ea9350;
  padding-bottom: 20px;
  display: flex;
  height: 70px;
  transition: all 3s ease;
}

@media screen and (min-width: 1210px) {
  nav {
    height: 80px;
  }
  .menu-icon {
   display: none;
}
.menu-items {
  display: block;
  height: 70px;
    padding: 5px;
    margin-left: 20px;
    box-shadow:none;
    position: relative;
}
li {
  display: inline-block;
  padding: 5px;
  border-bottom: 0;
}
}