
/*
  .login-page .my-toggle .react-toggle-track {
    background-color: #FCD2B3; 
  }
  
  .login-page .my-toggle .react-toggle-thumb {
    background-color: #DB5A4F !important; 
  }
  
  .my-toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #FCD2B3;
  }
  
  
  .my-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #FCD2B3;
  }

*/
  