.popUpButtonContainer {
border: 1px solid rgba(255, 245, 232, 0.9);
border-radius: 6px;
margin-top: 10px;
}

.popUpButtonContainer > div,
.popUpButtonContainer div:last-child {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin: 5px 0;
    height: 40px;
}

.productText h4 {
    margin: 0;
    color: rgba(255, 245, 232, 0.9);
    text-shadow: 1px 1px 4px rgba(5, 19, 6, 0.3);
}

legend {
    color: rgba(255, 245, 232, 0.9);
    text-align: start;
}

label {
    display: block;
    text-align: start;
    color: rgba(255, 245, 232, 0.9);
}

#archive-label,
#archive-label-night {
    background: none;
    font-size: 110%;
    cursor: pointer;
    text-align: unset;
    border: 1px solid white;
    border-radius: 6px;
}

#archive-label:hover,
#archive-label:focus,
#archive-label-night:hover,
#archive-label-night:focus {
    background: radial-gradient(circle at 15% 35%, rgba(255,220,203,1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%); 
}

.archived {
    color: red;
    text-shadow: none;
}


#favorite-label,
#favorite-label-night {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 3s ease-in-out;
}

#favorite-label-night {
    border: 3px solid white;
}

#favorite-label-night:focus {
    background: unset;
}

input[type="checkbox"]:checked+#favorite-checkbox {
    border: 6px solid blue;
}

#favorite-label:hover,
#favorite-label:focus,
#favorite-label-night:hover,
#favorite-label-night:focus {
    transform: rotate(360deg);
    background: radial-gradient(circle, #FFA500, #FFFF00);
  }

  #favorite-checkbox:active + label {
    background: greenyellow;
    background-color: aqua;
  }

  #favorite-checkbox:checked + label
  #favorite-checkbox:checked + label#favorite-label-night
  label[for="favorite-checkbox"]
  .favorite-star {    
    background: greenyellow;
    background-color: aqua;
  }

  input[type="checkbox"]#favorite-checkbox {
    opacity: 0;
  }

  #StarIcon {
    filter: invert(1);
  }
  #favorite-label-night:focus {
    background: yellowgreen;
  }

.productText {
    padding-top: 5px;
}

.shelf-form.popup-form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 1rem;
  }

.night-edit {
    color: rgba(255, 245, 232, 0.9);
}

.night-edit-form input,
.night-edit-form select {
    background: radial-gradient(circle at 15% 35%, rgba(255,220,203,1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
}

@media screen and (min-width: 400px) {
.shelf-form.popup-form {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}
.productText {
    padding-top: 1rem;
}
}

