.popUpButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productText h4 {
    margin: 0;
    color: rgba(255, 245, 232, 0.9);
    text-shadow: 1px 1px 4px rgba(5, 19, 6, 0.3);
}

legend {
    color: rgba(255, 245, 232, 0.9);
    text-align: start;
}

label {
    display: block;
    text-align: start;
    color: rgba(255, 245, 232, 0.9);
}

#archive-label,
#archive-label-night {
    background: none;
    font-size: 110%;
    cursor: pointer;
    text-align: unset;
    border: 1px solid white;
    border-radius: 6px;
}

#archive-label:hover,
#archive-label:focus,
#archive-label-night:hover,
#archive-label-night:focus {
    background: radial-gradient(circle at 15% 35%, rgba(255,220,203,1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
}

.archived {
    color: red;
    text-shadow: none;
}

.shelf-form {
    margin-top: 2rem;
}

.productText {
    padding-top: 1rem;
}

.night-edit {
    color: rgba(255, 245, 232, 0.9);
}

.night-edit-form input,
.night-edit-form select {
    background: radial-gradient(circle at 15% 35%, rgba(255,220,203,1) 0%, rgb(238, 133, 85) 13%, rgb(113, 210, 110) 95%);
}


