
.shelvesWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255,187,39);
}

.shelvesWrapper h1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color:#051306;
  font-size: 42px;
  text-shadow: 1px 1px 4px rgba(5, 19, 6, 0.3);
}

.productShelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  border: rgba(255, 255, 255, 0.85) 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
  gap: 5px;
}

.product-container {
  width: 31%;
  aspect-ratio: 1/1;
}

.product-item {
  flex-basis: 100%;
  height: 100%;
  overflow-y: auto; 
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 70% 50% 50% 50% / 50% 80% 30% 40%;
  border: 1px solid black;
  background: rgb(252,235,103);
background: radial-gradient(circle, rgba(252,235,103,1) 0%, rgba(255,187,39,1) 80%, rgba(254,124,57,1) 99%);
  box-shadow: inset 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
  /*background-image: linear-gradient(to bottom, rgba(221, 207, 207, 0), rgba(0, 0, 0, 0.3));
  background-size: 100% 20px;
  background-repeat: no-repeat;
  background-position: bottom;
  scrollbar-width: none; 
  -ms-overflow-style: none;*/
  cursor: pointer;
}

.nightProduct {
  background: rgb(44,161,52);
background: radial-gradient(circle, rgba(44,161,52,1) 0%, rgba(28,93,33,1) 75%, rgba(5,19,6,1) 99%);
}

.product-item::-webkit-scrollbar {
  display: none;
}

/* Product text */
.productsnameandbrand {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #2A152A;
}

.productsnameandbrand span:nth-child(2) {
  display: none;
}

.product-item span {
  word-break: break-all;
  line-height: 90%;
  max-width: 100%;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0 0 0.2rem 0;
  margin: 0;
}

.nightProduct {
  background-color: #1d0d48;
}

.product-item img {
  object-fit: contain;
  height: 70%;
  margin: 5px 0 3px 0;
}

.nightProduct img {
  filter: invert(0.95);
}


.nightProduct span {
  color: rgba(255, 245, 232, 0.9);
}

p {
  text-align: center;
  margin: 8px 0;
}

.select {
  border: 6px solid #a996d576;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5em 0;
}

.labelusage {
  color: red;
}


@media (min-width: 400px) {
  .product-container {
    width: 23%;
  }
}

@media (min-width: 590px) {
  .product-container {
    width: 19%;
  }
  .productShelf {
    width: 80%;
    padding: 10px 5px;
  }
}
@media (min-width: 1024px) {
  .product-container {
    width: 19%;
  }
  .productShelf {
    width: 80%;
    padding: 10px 10px;
  }
}


