.daily-bars-wrapper {
    background-color: #1f101f;
    height: fit-content;
    background-image: url('../../images/pexels-felipe-helfstein-14705286.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    padding-bottom: 5%;
}

h1 {
    font-size: 32px;
    color: rgba(255, 244, 233, 0.85);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5%; 
    font-style: italic;
    margin: 0;
    
}

.daily-bars-wrapper h2 {
     font-size: 22px;
     font-family: 'Poppins', sans-serif;
     text-align: center;
     color: #051306;
     color: rgba(255, 244, 233, 0.85);
     margin-top: 10px;
     padding: 0;
}

.daily-bars-container {
    /*border: 3px solid white; */
    height:fit-content;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5%;
}

.diagram-wrapper {
   /* border: 1px solid yellow; */
   border: rgba(255, 255, 255, 0.85) 1px solid;
    border-radius: 6px;
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 40px 10px;
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
}
.diet-bars,
.habits-bars {
    width: 100%;
    gap: 1rem;
    background-color: rgba(5,19,6,0.95);
    padding: 5px;
    border-radius: 6px;
    height: 350px;
    border: rgba(255, 255, 255, 0.65) 1px solid;
    box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
}

.svgs {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }


@media (min-width: 500px) {
    .diagram-wrapper {
        width: 70%;
        padding: 0 25px 40px 25px;
        margin: 0 2% 5% 2%;
        gap: 1rem;
    }
  }

  @media (min-width: 751px) {
    .diagram-wrapper {
        width:45%;
        padding: 0 25px 40px 25px;
        margin: 0 10px 5% 10px;
        gap: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .diagram-wrapper {
        width:46%;
        padding: 0 10px 40px 10px;
        margin: 0 0 5% 0;
        gap: 1rem;
    }
  }
  
