
.userpage-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  border: 3 px solid wheat;
}

.ball {
  position: absolute;
  top: 40%;
  left: 20%;
    background-image: url('../../images/pexels-felipe-helfstein-14705286.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 51%;
    border-radius: 50%;
    width: 6rem;
    aspect-ratio: 1/1;
}

  .background-img {
    position: absolute;
    background-image: url('../../images/pexels-felipe-helfstein-14705286.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 83%;
    width: 20%;
    height: 100%;
  }
/*
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 100%;
  /*background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.3) 35%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background:  rgba(255, 255, 255, 0.5)
}*/

.welcomeh1 {
  color: rgba(255, 244, 233, 0.85);
}

.uv-index-box {

  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border-radius: 40px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(81, 48, 2, 0.2);
  margin: 0 auto; 
}


.uv-index-box h2 {
text-align:center;
font-size: 16px;
  color: #2a152a3c;

}

.uv-index-box h1 {
  text-align:center;
  margin-bottom: -40px;
  font-size: 35px;
  color: #DB5A4F;

  }

  .uv-index-box h6 {
    margin-bottom: -100px;
    margin-top: 20px;
    text-align:center;
    font-size: 18px;
    color: #2a152a4f;
      font-family: 'Poppins', sans-serif;
      font-weight:600
    }

    @media (min-width: 1024px) {
      .welcomeh1  {
          font-size: 4rem;
      }
    }