
.userpage-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 2rem 0 2rem;
  border: 3 px solid wheat;
  color: wheat;
  /*
background: radial-gradient(circle, rgb(13, 50, 16) 0%, rgb(11, 41, 13) 75%, rgb(3, 13, 4) 99%); */
}

.link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 5rem;
}

.link-container div {
  display: flex;
  height: fit-content;
  min-width: 200px;
  flex-basis: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.45);
  border: rgba(255, 255, 255, 0.85) 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
}

.link-container div p {
  padding: 0.6rem 1rem 1rem 1rem;
  margin-top: 0.6rem;
  width: 90%;
  text-align: center;
  justify-self: center;
  color:#051306;
  border: 1px solid #051306;
  border-radius: 5px;
  background-color: rgba(255,187,39, 0.8);
  box-shadow: 1px 1px 8px 4px rgba(5, 19, 6, 0.3);
}

.welcomeh1 {
  color: rgba(255, 244, 233, 0.85);
}

.uv-index-box {
  display: flex;
  flex-direction: column;
}

.ball {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: -1;
  background-image: url('../../images/pexels-felipe-helfstein-14705286.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51%;
  border-radius: 50%;
  width: 340px;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 768px) {

  .link-container div {
    min-height: 160px;
    max-width: 450px;
    flex-basis: 45%;
  }
}


/*
  .background-img {
    position: absolute;
    background-image: url('../../images/pexels-felipe-helfstein-14705286.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 83%;
    width: 10%;
    height: 100%;
  }*/

/*
.uv-index-box {

  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border-radius: 40px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(81, 48, 2, 0.2);
  margin: 0 auto; 
}


.uv-index-box h2 {
text-align:center;
font-size: 16px;
  color: #2a152a3c;

}

.uv-index-box h1 {
  text-align:center;
  margin-bottom: -40px;
  font-size: 35px;
  color: #DB5A4F;

  }

  .uv-index-box h6 {
    margin-bottom: -100px;
    margin-top: 20px;
    text-align:center;
    font-size: 18px;
    color: #2a152a4f;
      font-family: 'Poppins', sans-serif;
      font-weight:600
    }

    @media (min-width: 1024px) {
      .welcomeh1  {
          font-size: 4rem;
      }
    }*/