
.react-calendar {
    background-color: #FFF5E9;
    border-radius: 10px;
    border: none;
    color: #FFF5E9;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 20vh;
}