.menu-icon {
    border: none; /* Remove the border */
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  
  .menu-icon:hover {
    /* Apply styles on hover */
    /* Example styles: */
    opacity: 0.8;
  }
  
  /* Adjust the hamburger menu icon */
  .hamburger-react div span {
    /* Example styles: */
    background-color: #2a152a;

  }
  