

.logo-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  display: flex;
  width: 100%;
  height: 100%;
}

.landing-h1 {
  font-size: 4em;
}

form .login-h2 {
  margin: 0;
  padding: 0;
}

.background-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../images/pexels-felipe-helfstein-14705286.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: #F5F5F5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:rgba(255, 255, 255, 0.85) 1px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.45);
  margin: 2rem;
  max-width: max-content;
  height: max-content;
}

form p {
  color: aqua;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.form-and-buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.login-button, 
.register-button,
.get-started-button {
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
  background-color: #DB5A4F;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 43px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  font-family: 'Lalezar', cursive;
  letter-spacing: 1px;
  font-weight: 400;
}

