.statisticsbody {
    background-color: #1f101f;

}

.statisticsbody h1 {
    padding-top: 20%;
    padding-bottom: 10%;
     font-size: 32px;
     letter-spacing: 0.5%;
     text-align: center;
     color: #FFF4E9;
}




@media (min-width: 500px) {
    .statisticsbody  {
        height: 100vh; 
    }
  }
  
