



.productItem img {
    justify-self: center;
    height: 80px;
}

.usageTrackerWrapper {
    min-height: 100vh;
    background-image: url('../images/backgroundUsage.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 160px;
}

.usageTrackerWrapper h2 {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    font-weight: 500;
    color: #FFF5E9;
}

.usagetitle{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 270px;
    padding-bottom: 100px;
    color: #FFF5E9;
    font-size: 32px;
}

.productsnameandbrand span {
    font-weight: 600;
}

.editbutton {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: #997FC5;
    border: none;
    border-radius: 43px;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    width: 70%;
    text-decoration: none;
    font-family: 'Lalezar', cursive;
    letter-spacing: 1px;
    font-weight: 400;
    box-shadow:2px 3px 6px rgba(0, 0, 0, 0.37);
    }

    .editbutton:hover {
        background-color: rgba(230, 179, 176, 0.9);
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    .productItem {
    background: #FFF5E9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
}

.productItem .night {
    background: #1d0d48;
}

.Selectall h5{
    font-family: 'Athiti', sans-serif;
    font-weight: 500;
    color: #FFF5E9;
    font-size: 16px;
    padding-right: 20px;
    font-weight: 600;
}

.Selectall{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

 .my-toggle .react-toggle-track {
    background-color: #FCD2B3; /* Default color for the track */
    
  }
  
  .my-toggle .react-toggle-thumb {
    background-color: #DB5A4F !important; 
  }
  
  .my-toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #FCD2B3;
  }
  
  
  .my-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #FCD2B3;
  }

.react-toggle .my-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.productsnameandbrand h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  