



.productItem img {
    justify-self: center;
    height: 80px;
}

.usageTrackerWrapper {
    height: 250vh;
    background-image: url('../images/backgroundUsage.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.usageTrackerWrapper h2 {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-weight: 500;
    color: #FFF5E9;
}

.usagetitle{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 150px;
    color: #FFF5E9
}

.editbutton {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: #D3C8F1;
    color: white;
    border: none;
    border-radius: 43px;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    flex-direction: column;

    text-align: center;
    width: 70%;
    text-decoration: none;
    }

    .productItem {
    width: 350px;
    height: auto;
    background: #FFF5E9;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
}

.Selectall h5{
   
    font-weight: 500;
    color: #FFF5E9;
    font-size: 16px;
    padding-right: 20px ;
}

.Selectall{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

