


.productItem > img ~ p {
font-size: 4em;
color: red;
}

.productItem img {
    justify-self: center;
    height: 80px;
}

.usageTrackerWrapper {
    height: 220vh;
    background-image: url('../images/backgroundUsage.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.usageTrackerWrapper h2 {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-weight: 500;
}

.usagetitle{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 150px;
    color: #FFF5E9
}

.editbutton {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: #D3C8F1;
    color: white;
    border: none;
    border-radius: 43px;
    cursor: pointer;
    text-align: center;
    width: 70%;
    text-decoration: none;
    }