
.user-page h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 20%;
  padding-top: 40%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2A152A;
}
  
  .UsageTracker h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .UsageTracker .productItem {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  
  .UsageTracker .productItem p {
    font-size: 18px;
  }
  
  .UsageTracker .productItem label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
  }

  .route-button {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: #DB5A4F;
    color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 43px;
    cursor: pointer;
    text-align: center;
    width: 50%;
    text-decoration: none;
    font-family: 'Lalezar', cursive;
    letter-spacing: 1px;
    font-weight: 400;
    box-shadow:2px 3px 6px rgba(0, 0, 0, 0.37);
  }

  .route-button:hover {
    background-color: rgba(230, 179, 176, 0.9);
  }

  .imagesandbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-image1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
   height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .button-image2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .button-image3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
   height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  

  
  .my-background-class {
    background-image: url('../images/pexels-jimmy-liao-16526019.jpg');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: top;
    background-color: #F5F5F5;
  }

.uv-index-box {

  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border-radius: 40px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(81, 48, 2, 0.2);
  margin: 0 auto; 
}


.uv-index-box h2 {
text-align:center;
font-size: 16px;
  color: #2a152a3c;

}

.uv-index-box h1 {
  text-align:center;
  margin-bottom: -40px;
  font-size: 35px;
  color: #DB5A4F;

  }

  .uv-index-box h6 {
    margin-bottom: -100px;
    margin-top: 20px;
    text-align:center;
    font-size: 18px;
    color: #2a152a4f;
      font-family: 'Poppins', sans-serif;
      font-weight:600
    }



  
    @media (max-width: 500px) {

    
      .my-background-class {
   
        background-repeat: no-repeat; 
        background-position: center;
        min-height: 160vh;
      }
  
    }
    