
.user-page h1 {
  font-size: 30px;
  padding-bottom: 20%;
  padding-top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  .UsageTracker h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .UsageTracker .productItem {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  
  .UsageTracker .productItem p {
    font-size: 18px;
  }
  
  .UsageTracker .productItem label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
  }

  .route-button {
  
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    background-color: #DB5A4F;
    color: white;
    border: none;
    border-radius: 43px;
    cursor: pointer;
    text-align: center;
    width: 50%;
    text-decoration: none;
  }

  .imagesandbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }

  .button-image1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .button-image2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .button-image3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  height: auto;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  

  .user-page {
   
    height: 200vh;
    background-image: url('../images/Userpageimg.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  }
  


/* UserPage.css */

.uv-index-box {
  background-color: white;
  border-radius: 40px;
  width: 60%;

  color: #DB5A4F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 0 auto; 
}


.uv-index-box h2 {
text-align:center;
font-size: 16px;
  color: #2A152A;
}

.uv-index-box h1 {
  text-align:center;
  margin-bottom: -40px;
  font-size: 35px;
    color: #2A152A;

  }

  .uv-index-box h9 {
    margin-bottom: -100px;
    text-align:center;
    font-size: 18px;
      color:#2A152A;
      font-family: 'Poppins', sans-serif;
      font-weight:600
    }
  