body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #997FC5;
}

code {
  font-family: 'Poppins', sans-serif;;
}


button {
  font-family: 'Poppins', sans-serif;
  font-weight:600
}

.allWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 667px;
}