* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8669b9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/*no scrollbar Firefox*/
html {
  scrollbar-width: none;
}

p, span, form, li {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.allWrapper {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

button:hover {
  background-color: rgba(230, 179, 176, 0.9);
}


.allWrapper::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .allWrapper {
    width: 375px;
    height: 768px;
  }
}

@media (max-width: 500px) {
  .allWrapper {
    width: 100vw;
    min-height: 100vh;
  }
}

code {
  font-family: 'Poppins', sans-serif;
  ;
}


button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}