body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8669b9;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  padding: 0; 
}



.allWrapper {
  width: 100%; 
  height: 100%; 
  max-width: 375px; 
  max-height: 667px; 

  overflow: auto; 
}

@media (min-width: 768px) {
  .allWrapper  {
    width: 100%; 
    height: 667px; 
  }
}

code {
  font-family: 'Poppins', sans-serif;;
}


button {
  font-family: 'Poppins', sans-serif;
  font-weight:600
}